body {
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.dark-mode {
  background-color: rgb(81, 81, 81);
  color: rgb(219, 219, 219);
}

.graymode {
  background-color: rgb(132, 132, 132);
  border: 3px solid rgba(84, 84, 84, 0.796);
  color: rgba(58, 58, 58, 0.796);
  border-radius: 30px;
  padding: 7px 15px;
  cursor: pointer;
  margin: 0 15px 15px;
  transition: background-color 0.2s, color 0.2s, border-radius 0.2s;
  font-size: 30px;
}

.graymode:hover {
  background-color: rgba(66, 66, 66, 0.796);
  border-color: rgb(33, 33, 33);
  color: rgb(169, 169, 169);
}

.graymode:active {
  border-style: double;
}

.parallax, .parallax2 {
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-image: url("../images/Cover.png");
  border-radius: 60px;
}

.main {
  padding: 60px;
}

.logobar {
  z-index: 1;
  position: fixed;
  height: 72px;
  display: flex;
  flex-direction: row;
  background-color: rgba(34, 34, 34, 0.793);
  top: 0;
  left: 0;
  right: 0;
}

.backg {
  background-image: url('../images/Cover.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -8px;
  padding-right: 19px;
  margin-top: 72px;
  width: 100%;
  height: 500px;
}

#navbar {
  margin-left: -8px;
  overflow: hidden;
  background-color: #c0c0c0;
  padding: 50px 10px;
  transition: 0.4s;
  width: 100%;
  top: 500px;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 1px;
}

#navbar #logo {
  font-size: 29px;
  font-weight: bold;
}


#navbar a.active {
  background-color: rgb(188, 66, 66);
  color: white;
  border-radius: 5px;
  transition: background-color 0.5s;
}

#navbar a.active:hover {
  background-color: rgb(197, 101, 37);
  transform: scale(1.03);
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important
  }
  #navbar a {
    float: none;
    display: block;
    text-align: center;
  }
  #navbar-right {
    float: none;
  }
}

.tag {
  margin: 120px 0 0 80px;
  width: 450px;
}
.home-dis{
  margin-top: 90px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  margin-left: 80px;
 width: 500px;
}
.hometitle{
  color: #cfcfcf;
  font-size: 32px;
  font-weight: 700;
}
.homesub{
  font-size: 14px;
  color: #eeeeee;
}
.homedet{
  color: #cfcfcf;
  font-size: 15px;
}
.homesta{
  color: #fffcfc;
}
.statit{
  color: #ffc1c1;
}

.searchbar {
  margin: -25px 70px;
  height: 50px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to left, rgb(162, 72, 72), rgb(210, 196, 86) 50%, rgb(105, 164, 199) 75%);
  box-shadow: 0 0 9px rgb(40, 40, 40);
  border-radius: 5px;
  transition: transform 1s, border-radius 1s;
}

.searchbar:hover {
  transform: scale(1.07);
  border-radius: 7px;
  cursor: pointer;
}

.slogo {
  margin: 4px 0 0 4px;
  width: 40px;
  height: 40px;
}

.logo {
  margin: 5px 0 0 20px;
  width: 230px;
  height: 60px;
  object-fit: contain;
  object-position: center;
}

.logo:hover {
  cursor: pointer;
}

.right-section {
  margin: 21px 0 0 20px;
  font-size: 22px;
  flex: 1;
  color: #d6d6d6;
  display: inline-block;
  white-space: nowrap;
}

.heading {
  margin-left: 9px;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 10px;
}

.header1 {
  font-size: 16px;
  margin-top: 0;
}

h2 {
  font-size: 16px;
  margin-top: 25px;
}

.discription-heading {
  width: 620px;
  margin: 5px 0 8px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.sub-item {
  font-size: 20px;
  color: #5d5d5d;
  padding-top: 4px;
  border-left: 1px solid;
  padding-left: 10px;
}

.chart div {
  font: 10px sans-serif;
  background-color: rgb(200, 72, 72);
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.sheet1 {
  margin-left: 70px;
}

.collapsible {
  background-color: rgb(189, 189, 189);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


/* Responsive design styles */
@media (max-width: 768px) {
  .tag, .home-dis {
    width: auto;
    margin-left: 20px;
  }

  .discription-heading {
    width: auto;
  }

  .searchbar {
    margin: 40px 20px;
  }
}


.intro{
  width: 500px;
}
.intro-list{
  display: grid;
  grid-template-columns: 615px 615px;
  margin-left: 50px;
}
.intro-preview{
  display: inline-block;
  width: 600px;
  padding: 10px;
  vertical-align: top;
}
.intro-info{
  
  width: 600px;
  display: grid;  
}
.introtitle{
  font-weight: 400;
}
.intro:hover{
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Reduce padding on main container */
  .main {
    padding: 20px;
  }

  /* Adjust margins and widths of elements */
  .tag,
  .home-dis {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }
  .searchbar {
    margin: 20px 0;
  }

  /* Adjust font sizes and widths of elements */
  .hometitle {
    font-size: 28px;
    line-height: 32px;
  }
  .homesub {
    font-size: 12px;
  }
  .homedet {
    font-size: 14px;
  }
  .right-section {
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .header1 {
    font-size: 14px;
  }
  h2 {
    font-size: 14px;
  }
  .discription-heading {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
  .sub-item {
    font-size: 16px;
  }
  .intro{
    width: 400px;
  }
  .intro-list {
    display: block;
  }
  .intro-preview,
  .intro-info {
    width: 100%;
  }
  .introtitle {
    font-size: 24px;
    line-height: 28px;
  }

  /* Hide certain elements */
  
  .backg {
    /*display: none; */
    height: 280px;
    margin-top: 70px;
  }

  .logobar {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: rgba(34, 34, 34, 0.793);
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.logobar img {
  height: 80px;
  margin: 10px;
}

.logobar h1 {
  color: white;
  font-size: 24px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .logobar {
    height: 80px;
  }
  
  .logobar img {
    height: 60px;
    margin: 10px 5px;
  }
  
  .logobar h1 {
    font-size: 20px;
  }
}

.logobar {
  z-index: 1;
  position: fixed;
  height: 100px; /* updated height */
  display: flex;
  flex-direction: row;
  background-color: rgba(34, 34, 34, 0.793);
  top: 0;
  left: 0;
  right: 0;
}

.right-section {
  margin: 27px 0 0 20px; /* updated margin */
  font-size: 18px; /* updated font size */
  flex: 1;
  color: #d6d6d6;
  display: inline-block;
  white-space: nowrap;
}

  /* Adjust navbar padding and font sizes */
  #navbar {
    
    padding: 10px 0;
    
  }
  #navbar a {
    font-size: 14px;
    line-height: 20px;
  }
  
}
@media screen and (max-width: 740px) {
  .logobar {
    height: 70px; /* updated height */
    
  }
  #navbar #logo {
    display: none;
  }
  .right-section {
    margin-left: -72px;
    transform: scale(0.78);
  }
  .logo{
    transform: scale(0.78);
  }
  .intro{
    width: 400px;
  }
  
  .hometitle, .homesub, .homedet{
    color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 480px) {
  /* Adjust logo size and margin */
  .logobar img {
    height: 40px;
    margin: 5px;
  }

  .intro{
    width: 100px;
  }
  /* Adjust right-section size and margin */
  .right-section {
    margin: 15px 0 0 10px;
    font-size: 14px;
  }

  /* Adjust navbar logo size */
  #navbar #logo {
    font-size: 20px;
    font-weight: bold;
  }

  /* Adjust navbar link padding */
  #navbar a {
    padding: 8px;
  }

  /* Adjust the font size for hometitle, homesub, and homedet */
  .hometitle {
    font-size: 24px;
    line-height: 28px;
  }
  .homesub {
    font-size: 12px;
  }
  .homedet {
    font-size: 12px;
  }

  /* Adjust the search bar size and margin */
  .searchbar {
    margin: 10px 0;
    height: 40px;
  }

 

  .introtitle {
    font-size: 20px;
    line-height: 24px;
  }
}


